* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom, #fff1eb, #ace0f9);
  overflow-x: hidden;
}

.floating-images {
  position: fixed;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: -1;
}

.floating-images img {
  position: absolute;
  width: 180px;
  opacity: 0.3;
  will-change: transform;
}


/* Sections */
.section {
  min-height: 100vh;
  padding: 100px 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero {
  text-align: center;
}

.hero h1 {
  font-family: "Playfair Display", serif;
  font-size: 5rem;
}

.hero p {
  font-size: 1.5rem;
  margin-top: 20px;
}

.section h2 {
  font-family: "Playfair Display", serif;
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.section p {
  font-size: 1.4rem;
  line-height: 1.8;
}

.warm {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 40px;
}

.end {
  background: linear-gradient(to bottom, #434343, #000);
  color: white;
}

.memory-section {
  max-width: 900px;
  margin: 140px auto;
  padding: 0 20px;
  text-align: center;
}

.memory-section h2 {
  font-size: 2.2rem;
  margin-bottom: 30px;
  font-family: 'Segoe Script', cursive;
}

.memory-section p {
  margin-top: 25px;
  font-size: 1.1rem;
  opacity: 0.85;
}

/* .slideshow {
  position: relative;
  height: 500px;
  overflow: hidden;
  border-radius: 24px;
}

.slideshow img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1.2s ease;
}

.slideshow img.active {
  opacity: 1;
} */

#falling-images {
  position: fixed;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 9999;
}

.fall-img {
  position: fixed;
  top: 0;
  width: 90px;
  opacity: 0.45;

  animation-name: fall;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  will-change: transform;
  backface-visibility: hidden;
  pointer-events: none;
}


@keyframes fall {
  from {
    transform: translateY(-120px);
  }
  to {
    transform: translateY(110vh);
  }
}



